scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0pc;
  padding: 0px;
  background-color: lavender;
  overflow: hidden;
  font-family: 'Gill Sans', 'GillSans MT', sans-serif;
} 

canvas {
  width: 100%;
  height: 100%;
}


dialog[type="inventory"]{
  background-color: #e3e3e3;
  position: absolute;
  border: none;
  height: 350px;
  width: 550px;
  border-width: 1px;
}

dialog[type="inventory"] > ul > li{
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  border: 2px solid;
  display: table;
}


dialog[type="inventory"] > ul > li > amount{
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  display: table;
}

dialog[type="inventory"] > ul > li > name{
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  display: table;
}

dialog[type="inventory"] > ul > li > description{
  position: relative;
  width: auto;
  height: auto;
  padding: 5px;
  display: table;
}

speech{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(0, 0, 0);
  background-color: rgba(84, 84, 211, 0.335);
  font-size: 200%;
  height: 10vh;
  width: 83%;
  border: 4px solid rgb(46, 43, 43);
}

speech.Ryu name {
  color: rgb(54, 61, 87)
}

speech.Protag name {
  color: rgb(69, 131, 67);
}

speech.Narrator name {
  color: rgb(131, 121, 67)
}

speech > name {
  position: absolute;
  bottom: 75px;
  border: 4px solid rgb(46, 43, 43);
  background-color: rgba(255, 255, 255, 0.918);
}
meter::-webkit-meter-optimum-value{
  background-color: indigo;
}
